<%= form_for model do |f| %>
  <div class="row py-2">
    <div class="col-md-3">
      <%= f.label :sewing, "Тип", class: "form-label" %>
      <%= f.select :sewing, SEWING_TYPE, {}, {class: 'form-select'} %>
    </div>
    <div class="col-md-3">
      <%= f.label :number, "Номер", class: "form-label" %>
      <%= f.text_field :number, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :name, "Наименование", class: "form-label" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="row py-2">
    <div class="col">
      <%= f.button type: 'submit', class: "btn btn-primary" do %>
        <i class="fas fa-save"></i> Сохранить
      <% end %>
      <%= link_to :back, class: "btn btn-secondary" do %>
          <i class="fas fa-undo-alt"></i> Вернуться
        <% end %>
    </div>
  </div>
<% end %>