<%= form_for [timesheet, visit] do |f| %>
  <div class="row py-2">
    <div class="col-auto">
      <%= f.label :user_name, "Сотрудник", class: "form-label" %>
      <%= f.select :user_name, @user_names, {}, {class: 'form-select'} %>
    </div>
    <div class="col-auto">
      <%= f.label :time, "Время", class: "form-label" %>
      <%= f.number_field :time, class: 'form-control' %>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <%= f.button type: 'submit', class: "btn btn-primary" do %>
        <i class="fas fa-save"></i> Сохранить
      <% end %>
      <%= link_to :back, class: "btn btn-secondary" do %>
          <i class="fas fa-undo-alt"></i> Вернуться
        <% end %>
    </div>
  </div>
<% end %>