<h2>Пользователи</h2>
<%= link_to new_user_registration_path, class: "btn btn-primary" do %>
  <i class="fas fa-plus"></i> Добавить пользователя
<% end %>
</br>
<table class="table table-striped table-sm">
  <thead>
    <tr>
    	<th class='text-center'>Имя</th>
      <th class='text-center'>E-mail</th>
      <th class='text-center'>Администратор</th>
      <th class='text-center'>Работник</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<td class='text-center'><%= user.name %></td>
        <td class='text-center'><%= user.email %></td>
        <td class='text-center'><%== user.admin_role? ? "<i class='fas fa-check'></i>" : "" %></td>
        <td class='text-center'><%== user.worker_role? ? "<i class='fas fa-check'></i>" : "" %></td>
        <td>
          <div class="btn-group">
            <%= link_to edit_user_path(user), 
              class: "btn btn-outline-dark btn-sm" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to user, method: :delete, 
              class: "btn btn-outline-danger btn-sm",
              data: {confirm: "Вы уверенны, что хотите удалить пользователя?"} do %>
              <i class="fas fa-times">&nbsp;</i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>