<h4 class = 'text-center'>Отчет по выработке <b><%= @production.user_name %></b> за <b><%= @production.date.strftime('%d.%m.%Y') %></b></h4>
<% @production.works.order('model_number').each do |work| %>
  <h5 class = 'text-center'><%= "Модель №#{work.model_number} #{work.model_nname}" %></h5>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th class='text-center'>Операция</th>
        <th class='text-center'>Количество</th>
        <th class='text-center'>Сумма</th>
        <th class='text-center'>Время</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% work.executions.order(Arel.sql("(substring(operation_number, '^[0-9]+'))::int, substring(concat(operation_number, '!'), '[^0-9_].*$')")).each do |execution| %>
        <tr>
          <td class='text-center'><%= execution.operation_number %></td>
          <td class='text-center'><%= execution.quantity %></td>
          <td class='text-center'><%= execution.sum %></td>
          <td class='text-center'><%= execution.time %></td>
        </tr>
      <% end %>
        <tr>
          <th class='text-center'>Итого:</th>
          <th class='text-center'></th>
          <th class='text-center'><%= work.sum %></th>
          <th class='text-center'><%= work.time %></th>
        </tr>
    </tbody>
  </table>
  <br/>
<% end %>
<h5><%= "Всего: #{@production.sum.to_i} тенге,  #{@production.time} часов."%></h5>
<h5><%= "Премия за выполнение плана: #{@bf_sum} тенге" %></h5>
<h5><%= "Премия за ассортимент: #{@baf_sum} тенге" %></h5>
<h5><%= "Прочие начисления: #{@sc_sum} тенге" %></h5>
<h5><%= "Итого: #{@all_sum} тенге" %></h5>
