<h2>Коэффициенты премии</h2>
<%= link_to new_factor_path, class: "btn btn-primary" do %>
  <i class="fas fa-plus"></i> Добавить коэффициент
<% end %>
</br>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th class='text-center'>От % (включительно)</th>
      <th class='text-center'>До % (включительно)</th>
      <th class='text-center'>Повышающий коэффициент</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @factors.each do |factor| %>
      <tr>
        <td class='text-center'><%= factor.min %></td>
        <td class='text-center'><%= factor.max %></td>
        <td class='text-center'><%= factor.value %></td>
        <td>
          <div class="btn-group">
            <%= link_to edit_factor_path(factor), 
              class: "btn btn-outline-dark btn-sm" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to factor, method: :delete, 
              class: "btn btn-outline-danger btn-sm",
              data: {confirm: "Вы уверенны, что хотите удалить коэффициент?"} do %>
              <i class="fas fa-times">&nbsp;</i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>