<h2>Разряды</h2>
<%= link_to new_rank_path, class: "btn btn-primary" do %>
  <i class="fas fa-plus"></i> Добавить разряд
<% end %>
</br>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th class='text-center'>Тип</th>
      <th class='text-center'>Номер</th>
      <th class='text-center'>Стоимость</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ranks.each do |rank| %>
      <tr>
        <td class='text-center'><%= rank.sewing %></td>
        <td class='text-center'><%= rank.category %></td>
        <td class='text-center'><%= rank.cost %></td>
        <td>
          <div class="btn-group">
            <%= link_to edit_rank_path(rank), 
              class: "btn btn-outline-dark btn-sm" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to rank, method: :delete, 
              class: "btn btn-outline-danger btn-sm",
              data: {confirm: "Вы уверенны, что хотите удалить разряд?"} do %>
              <i class="fas fa-times">&nbsp;</i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>