<h2>Табель</h2>
<%= form_for @timesheet, html: {class: "row"} do |f| %>
  <div class='col-auto'>
    <%= f.button type: 'submit', class: "btn btn-primary" do %>
      <i class="fas fa-plus"></i> Добавить табель
    <% end %>
  </div>
  <div class='col-auto'>
    <%= f.label :date, "на дату", class: "col-form-label" %>
  </div>
  <div class='col-auto'>
    <%= f.date_field :date, class: 'form-control' %>
  </div>
<% end %>
</br>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th class='text-center'>Дата</th>
      <th class='text-center'>Время</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td class='text-center'><%= timesheet.date %></td>
        <td class='text-center'><%= timesheet.sum %></td>
        <td>
          <div class="btn-group">
            <%= link_to timesheet, method: :delete, 
              class: "btn btn-outline-danger btn-sm",
              data: {confirm: "Вы уверенны, что хотите удалить табель?"} do %>
              <i class="fas fa-times">&nbsp;</i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>