<h2>Начисления</h2>
<%= link_to new_surcharge_path, class: "btn btn-primary mb-2" do %>
  <i class="fas fa-plus"></i> Добавить начисление
<% end %>
<%== pagy_bootstrap_nav(@pagy) %>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th class='text-center'>Дата</th>
      <th class='text-center'>Сотрудник</th>
      <th class='text-center'>Сумма</th>
      <th class='text-center'>Примечание</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @surcharges.each do |surcharge| %>
      <tr>
        <td class='text-center'><%= surcharge.date %></td>
        <td class='text-center'><%= surcharge.user_name %></td>
        <td class='text-center'><%= surcharge.sum %></td>
        <td class='text-center'><%= surcharge.comment %></td>
        <td>
          <div class="btn-group">
          	<%= link_to edit_surcharge_path(surcharge), 
              class: "btn btn-outline-dark btn-sm" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to surcharge, method: :delete, 
              class: "btn btn-outline-danger btn-sm",
              data: {confirm: "Вы уверенны, что хотите удалить начисление?"} do %>
              <i class="fas fa-times">&nbsp;</i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>