<!DOCTYPE html>
<html>
  <head>
    <title>SeamstressSalary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.instagram.com/abai.fabrikasy/">ABAI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Выработка", productions_path, class: "nav-link #{controller_name == 'productions' ? 'active' : ''}" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Время
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <li><a class="dropdown-item" href="#">Табель</a></li>
                <li><a class="dropdown-item" href="#">Премия</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Справочники
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <li><a class="dropdown-item" href="#">Разряды</a></li>
                <li><a class="dropdown-item" href="#">Модели</a></li>
                <li>
                  <%= link_to "Коэффициенты премии", factors_path, class: "dropdown-item #{controller_name == 'factors' ? 'active' : ''}" %>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Отчеты
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <li><a class="dropdown-item" href="#">ЗП и время</a></li>
                <li><a class="dropdown-item" href="#">Операции</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Пользователи</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <span class="navbar-text">
                Пользователь: <%= current_user.email %> | 
              </span>
              <li class="nav-item">
                <%= link_to "Виход", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to root_path << 'readme.pdf', target: :_blank, class: "nav-link icon-padding"  do %>
                  <i class="fas fa-info-circle fa-2x"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
