<!DOCTYPE html>
<html>
  <head>
    <title>Seamstress Salary - зарплата швеи</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.instagram.com/abai.fabrikasy/">
          <img src="/logo.png" alt="" width="103" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Выработка", productions_path, class: "nav-link #{controller_name == 'productions' ? 'active' : ''}" %>
            </li>
              <% if user_signed_in? && current_user.admin_role? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle <%= (controller_name == 'timesheets') ||
                                                       (controller_name == 'visits') ||
                                                       (controller_name == 'bonuses')? 'active' : '' %>" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Время
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                  <li>
                    <%= link_to "Табель", timesheets_path, class: "dropdown-item #{(controller_name == 'timesheets') || 
                                                                                   (controller_name == 'visits') ? 'active' : ''}" %>
                  </li>
                  <li>
                    <%= link_to "Премия", bonuses_path, class: "dropdown-item #{(controller_name == 'bonuses')  ? 'active' : ''}" %>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle <%= (controller_name == 'factors') ||
                                                       (controller_name == 'ranks') ||
                                                       (controller_name == 'operations') ||
                                                       (controller_name == 'models') ? 'active' : '' %>" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Справочники
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li>
                    <%= link_to "Разряды", ranks_path, class: "dropdown-item #{controller_name == 'ranks' ? 'active' : ''}" %>
                  </li>
                  <li>
                    <%= link_to "Модели", models_path, class: "dropdown-item #{controller_name == 'models' ||
                                                                               controller_name == 'operations' ? 'active' : ''}" %>
                  </li>
                  <li>
                    <%= link_to "Коэффициенты премии", factors_path, class: "dropdown-item #{controller_name == 'factors' ? 'active' : ''}" %>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Отчеты
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                  <li><%= link_to "ЗП и время", edit_sreport_path, class: "dropdown-item #{controller_name == 'sreport' ? 'active' : ''}" %></li>
                  <li><%= link_to "Операции", edit_oreport_path, class: "dropdown-item #{controller_name == 'oreport' ? 'active' : ''}" %></li>
                </ul>
              </li>
              <li class="nav-item">
                <%= link_to "Пользователи", users_path, class: "nav-link #{controller_name == 'users' ? 'active' : ''}" %>
              </li>
            <% end %>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <span class="navbar-text">
                Пользователь: <%= current_user.name %> | 
              </span>
              <li class="nav-item">
                <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to root_path << 'readme.pdf', target: :_blank, class: "nav-link icon-padding"  do %>
                  <i class="fas fa-info-circle fa-2x"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if flash[:alert] %>
        <br/>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:alert] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <br/>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
